<div class="orpheus-hero__ability">
  <div class="orpheus-hero__ability__name"><%= h4_tag(name) %></div>
  <div class="orpheus-hero__ability__image" style="background-image: url('<%= asset_path("orpheus/#{name.parameterize}.png") %>')"></div>
  <div class="orpheus-hero__ability__description"><%= description %></div>
  <div class="orpheus-hero__ability__stats">
    <% stats.each do |stat| %>
      <div class="orpheus-hero__ability__stat">
        <div class="orpheus-hero__ability__stat__name"><%= stat[0] %></div>
        <div class="orpheus-hero__ability__stat__value"><%= orpheus_text(stat[1]) %></div>
      </div>
    <% end %>
  </div>
</div>
