<% content_for(:title) do 'Styleguide' end %>

<h1 class="h1">Styleguide</h1>

<h2 id="grid">Grid</h2>

<%= example do %>
  <div class="grid">
    <div>1</div>
    <div>2</div>
  </div>
<% end %>

<%= example do %>
  <div class="grid-xs">
    <div>1</div>
    <div>2</div>
  </div>
<% end %>

<%= example do %>
  <div class="grid-md">
    <div>1</div>
    <div>2</div>
  </div>
<% end %>

<%= example do %>
  <div class="grid-sm grid-3-md">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
  </div>
<% end %>

<%= example do %>
  <div class="grid-2-sm grid-4-lg">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
  </div>
<% end %>

<%= example do %>
  <div class="grid grid-2-sm grid-md grid-1-lg">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
  </div>
<% end %>

<h2 id="preview">Preview</h2>
<%= example do %>
  <div class="grid-2-sm">
    <div>
      <a href="" class="preview">
        <div class="preview-title">Some Project</div>
        <div class="preview-image" style="background-image: url('')"></div>
      </a>
    </div>
    <div>
      <a href="" class="preview">
        <div class="preview-title">Some Project</div>
        <div class="preview-image" style="background-image: url('')"></div>
      </a>
    </div>
  </div>
<% end %>
