<% content_for(:title) do 'Work' end %>
<h1 class="h1">Work</h1>
<p class="lead">Check out my latest projects</p>
<div class="grid-2-sm">
  <div>
    <a href="<%= static_section_path(section: 'work', page: 'india-hicks') %>" class="preview">
      <h2 class="preview-title">India Hicks</h2>
      <div class="preview-image" style="background-image: url('<%= image_path('screenshots/india-hicks/preview') %>')"></div>
    </a>
  </div>
  <div>
    <a href="<%= static_section_path(section: 'work', page: 'origami-owl') %>" class="preview">
      <h2 class="preview-title">Origami Owl</h2>
      <div class="preview-image" style="background-image: url('<%= image_path('screenshots/origami-owl/preview') %>')"></div>
    </a>
  </div>
  <div>
    <a href="<%= static_section_path(section: 'work', page: 'vertical-research-advisory') %>" class="preview">
      <h2 class="preview-title">Vertical Research Advisory</h2>
      <div class="preview-image" style="background-image: url('<%= image_path('screenshots/vertical-research-advisory/preview') %>')"></div>
    </a>
  </div>
</div>
