<% content_for(:title) do 'Forever Green' end %>
<h1 class="h1">Forever Green Power Strips</h1>
<p class="lead">Promotional marketing site</p>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/forever-green/landing-page-lg') %>" />
    <img src="<%= image_path('screenshots/forever-green/landing-page-sm') %>" />
  </div>
</div>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/forever-green/promo-lg') %>" />
    <img src="<%= image_path('screenshots/forever-green/promo-sm') %>" />
  </div>
</div>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/forever-green/checkout-lg') %>" />
    <img src="<%= image_path('screenshots/forever-green/checkout-sm') %>" />
  </div>
</div>
