<% content_for(:title) do 'India Hicks' end %>
<h1 class="h1">India Hicks</h1>
<p class="lead">Ecommerce site for women's bags, jewelry, and accessories</p>

<div class="button-bar">
  <a href="https://indiahicks.com/" class="button" target="_blank">
    Visit the Website
  </a>
</div>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/india-hicks/homepage-lg') %>" />
    <img src="<%= image_path('screenshots/india-hicks/homepage-sm') %>" />
  </div>
</div>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/india-hicks/categories-lg') %>" />
    <img src="<%= image_path('screenshots/india-hicks/categories-sm') %>" />
  </div>
</div>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/india-hicks/product-lg') %>" />
    <img src="<%= image_path('screenshots/india-hicks/product-sm') %>" />
  </div>
</div>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/india-hicks/basket-lg') %>" />
    <img src="<%= image_path('screenshots/india-hicks/basket-sm') %>" />
  </div>
</div>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/india-hicks/about-lg') %>" />
    <img src="<%= image_path('screenshots/india-hicks/about-sm') %>" />
  </div>
</div>
