<% content_for(:title) do 'Styleguide' end %>

<%= h1_tag('Styleguide') %>
<p class="lead">All of the styles for this very site, collated in one fancy box.</p>

<%= h2_tag('Grid') %>
<p>The <code>.grid</code> class turns its child <code>&lt;div&gt;</code> tags into a single-column grid layout. Specifying a breakpoint changes the grid to use auto-sized columns at that given point, and specifying a number hard-codes how many columns will fit to fill the width before wrapping. Rows may be created by either using multiple grid parents or by specifying a number of columns to wrap after. Different grid classes may be combined to have the grid change at different breakpoints.</p>

<%= h3_tag('.grid-2-sm') %>
<div class="grid-2-sm">
  <div><div class="panel">1</div></div>
  <div><div class="panel">2</div></div>
  <div><div class="panel">3</div></div>
  <div><div class="panel">4</div></div>
</div>

<%= h3_tag('.grid-xs + .grid-xs') %>
<div class="grid-xs">
  <div><div class="panel">1</div></div>
  <div><div class="panel">2</div></div>
  <div><div class="panel">3</div></div>
  <div><div class="panel">4</div></div>
</div>
<div class="grid-xs">
  <div><div class="panel">1</div></div>
  <div><div class="panel">2</div></div>
  <div><div class="panel">3</div></div>
</div>

<%= h3_tag('.grid-2-sm.grid-md.grid-1-lg') %>
<div class="grid-2-sm grid-md grid-1-lg">
  <div><div class="panel">1</div></div>
  <div><div class="panel">2</div></div>
  <div><div class="panel">3</div></div>
  <div><div class="panel">4</div></div>
</div>

<%= h3_tag('.grid-2-3-lg') %>
<div class="grid-2-3-lg">
  <div><div class="panel">1</div></div>
  <div><div class="panel">2</div></div>
</div>

<%= h2_tag('Typography') %>

<%= h3_tag('Headings') %>
<p>Heading tags are de-styled by default so they can be used to provide context without affecting the look of something. Use the corresponding <code>.h1</code>, <code>.h2</code>, etc classes when the standard look is required. Refer to the headings used throughout this page for examples.</p>

<%= h3_tag('Links') %>
<p><a href="#links">Links</a> blend in by default so they can easily be used in other components. Make sure to style their states as part of the component!</p>
<p>When part of a paragraph, add the <a href="#links" class="link">.link</a> class to make them stand out from the rest of the text.</p>

<%= h3_tag('Paragraphs') %>
<p>Paragraphs can be seen throughout the site. Use the <code>.lead</code> class for a paragraph that sits directly under an <code>.h1</code> for some extra visual flair.</p>

<%= h3_tag('Code') %>
<p>The <code>&lt;code&gt;</code> tag is used to denote code samples, primarily only used in this document. It's docception!</p>

<%= h2_tag('Panel') %>

<div class="panel">
  <p>The panel wraps content in a visually separated area.</p>
</div>

<%= h2_tag('Buttons') %>

<%= h3_tag('Grid Button') %>
<a href="" class="grid-button" data-prevent-default="click">
  <div class="grid-button-icon">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="sr-only">Back</div>
</a>

<%= h2_tag('Footer') %>
<div class="footer">
  <div>
    <strong>Bold heading.</strong><br />
    Some more text to say stuff.
  </div>
</div>

<%= h2_tag('Screens and Previews') %>
<p>Screens provide a visual aesthetic similar to a browser window for showcasing screenshots of projects.</p>
<p>Nesting a preview inside a screen provides a space to see a snippet of content and expand it when needed.</p>

<div class="screen">
  <div class="screen-title">Screen Component</div>
  <div class="preview" data-toggle="is-fullscreen">
    <div class="preview-content">
      <div class="panel">
        <p>Screens provide a visual aesthetic similar to a browser window.</p>
      </div>
    </div>
  </div>
</div>
