<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= yield(:title) + ' - ' if content_for?(:title) %>michaeldrotar.com</title>

    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="nav" data-drawer data-drawer--auto-close>
      <div class="navbar" data-drawer-close>
        <div class="container">
          <a href="<%= locale_path %>" class="navbar-brand">
            <% 'michaeldrotar.com'.split('').each do |letter| %>
              <div class="navbar-brand__letter"><%= letter %></div>
            <% end %>
          </a>
          <% if content_for?(:title) %>
            <h1 class="navbar-page-header">
              <%= yield(:title) %>
            </h1>
          <% end %>
          <button class="navbar-toggle" type="button" data-drawer-toggle>&#9776;</button>
        </div>
      </div>
      <div class="nav-flyout" data-drawer-close>
        <div class="nav-flyout-item-container">
          <% if user_signed_in? %>
            <%= user.email %>
          <% else %>
            <a href="<%= new_user_session_path %>" class="nav-flyout-item nav-flyout-item--prominent">
              Login
            </a>
          <% end %>
          <a href="<%= root_path %>" class="nav-flyout-item">
            Projects
          </a>
          <% if user_signed_in? %>
            <%= form_tag(destroy_user_session_path, method: :delete) do %>
              <button type="submit" class="nav-flyout-item">
                Logout
              </button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag('application', 'data-turbolinks-track' => true) %>
    <script>
      if ( document.location.href.indexOf('localhost') === -1 ) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-61036777-1', 'auto');
        ga('send', 'pageview');
      }
    </script>
  </body>
</html>
