<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= yield(:title) + ' - ' if content_for?(:title) %>michaeldrotar.com</title>

    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track' => true) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar-container" data-drawer data-drawer--auto-close>
      <div class="navbar" data-drawer-close>
        <a href="<%= root_path %>" class="navbar-brand">
          <% 'michaeldrotar.com'.split('').each do |letter| %>
            <div class="navbar-brand__letter"><%= letter %></div>
          <% end %>
        </a>
        <% nav.each do |key, href| %>
          <a href="<%= href %>" class="navbar-item"><%= t("nav.#{key}") %></a>
        <% end %>
        <button class="navbar-toggle" type="button" data-drawer-toggle>&#9776;</button>
      </div>
      <div class="navbar-flyout" data-drawer-close>
        <% nav.each do |key, href| %>
          <a href="<%= href %>" class="navbar-flyout-item"><%= t("nav.#{key}") %></a>
        <% end %>
      </div>
    </div>
    <div class="container">
      <% if content_for?(:title) %>
        <%= h1_tag { yield(:title) } %>
      <% end %>
      <%= yield %>
    </div>
    <%= javascript_include_tag('application', 'data-turbolinks-track' => true) %>
    <script>
      if ( document.location.href.indexOf('localhost') === -1 ) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-61036777-1', 'auto');
        ga('send', 'pageview');
      }
    </script>
  </body>
</html>
