<%= extends 'application' do %>
  <a href="<%= static_path(section: 'styleguide') %>">Styleguide</a>
  <a href="<%= static_path(section: 'styleguide', page: 'colors') %>">Colors</a>
  <a href="<%= static_path(section: 'styleguide', page: 'fonts') %>">Fonts</a>
  <a href="<%= static_path(section: 'styleguide', page: 'layout') %>">Layout</a>
  <%= yield %>
<% end %>
